# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# idea folder, uncomment if you don't need it
.idea

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Screenshots
screenshots/

# Allure test Results
allure-report/
allure-results/

# Pefrormance test results
performance-results/

# Chrome driver for local run
chromedriver-win64/
